.box{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url('../img/beijing.png');
	background-size: 100% auto;
}
header{
	width: 100%;
	height: .88rem;
	background-color: yellow;
	padding: 0 .24rem;
	overflow: hidden;
}
.head-back{
	width: .46rem;
	height: .46rem;
	background-color: #fff;
	margin-top: .21rem;
	float: left;
	transform: rotate(45deg);
}
.head-center{
	width: 1.9rem;
	height: .51rem;
	background-color: yellowgreen;
	float: left;
	margin-top: .185rem;
	margin-left: 2.11rem;
}
#login{
	width: 5.25rem;
	height: 5.25rem;
	background-color: pink;
	margin: 0 auto;
	margin-top: 1.75rem;
	border-radius: .08rem;
	position: relative;
	padding-top: .79rem;
}
.touxiang{
	width: 1.55rem;
	height: 1.55rem;
	background-color: orangered;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: -0.775rem;
	margin: auto;
	border: .06rem solid #fff;
}
.user-box{
	width: 4.05rem;
	height: .87rem;
	background-color: yellowgreen;
	margin: 0 auto;
	font-size: .2rem;
}
.user-top{
	width: 100%;
	height: .3rem;
	background-color: blue;
}
.user-bottom{
	width: 100%;
	height: .57rem;
	background-color: saddlebrown;
}
.userName{
	display: block;
	width: 100%;
	height: 100%;
}